{% extends 'base.html.twig' %}

{% block title %}Professional index{% endblock %}

{% block body %}
    <h1>Professional index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for professional in professionals %}
            <tr>
                <td>{{ professional.id }}</td>
                <td>{{ professional.name }}</td>
                <td>{{ professional.address }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('professional_show', {'id': professional.id}) }}">show</a>
                    <a class="btn btn-info" href="{{ path('professional_edit', {'id': professional.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('professional_new') }}">Create new</a>
{% endblock %}